/* Font families */
@font-face {
  font-family: "";
  font-weight: 00;
  font-display: swap;
  src: url("../fonts/") format("woff2"), url("../fonts/") format("woff");
}

/* Mobile first */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "", "Arial", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Sticky footer */
.site-main {
  flex-grow: 1;
}